/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variabel*/
:root {

--color-basic-grey:#EEEEEE;

/*text*/
--color-titel-basic:#000000;
--color-content-basic:#283136;
--color-contacts-only:#666666;
--color-basic-white:#FFFFFF;
--color-modal-content:#444444;

/*chechbox&radio-btn*/
--color-catalog-filter:#283136;

/*buttons*/
--basic-red-btn:#FB565A;
--hover-red:#E74246;
--active-red:#D7373B;

--basick-green-btn:#00CA74;
--hover-green:#00BC6C;
--active-green:#00AA62;

--basick-yellow-btn:#EFC849;
--hover-yellow:#EAB534;
--active-yellow:#E5A722;

/*pagination*/
--pagination-hover-btn:#DFDFDF;
--pagination-active-btn:#D5D5D5;
--pagination-border-active:#DBDBDB;

/*social icon*/
--social-icon-basic:#E1E1E1;

/*modal*/
--modal-boredr-content:#D7DCDE;
}

/*Button*/
button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
/*Navigation*/
nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
/*Slider*/
.slider-titel {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
.slider-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/*Works*/
.works-titel {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.works-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/*Studio description(описание студии)*/
.description-titel {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.description-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.description-sub-titel {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.description-tab-titel {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}
.description-tab-titel-percent {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}
.description-tab-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

/*Contacts*/
.contacts-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.contacts-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

/*Benefits*/
.benefits-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}
.benefit-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

/*Modal*/
.modal-form-titel {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}
.modal-form-subtitel {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
.moda-form-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

/*Catalog*/
.catalog-titel {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
.catalog-sub-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.catalog-price-filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.catalog-price-sort {
  font-weight: 400;
  font-style: 14px;
  line-height: 18px;
}

/*Стили для основной страницы*/
