titel-main {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
titel-filter {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
price-filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
grid-filter+price-filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
